{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js"]}] // allow sinon as dev dependency
  },
  "globals": {
    "test": true,
    "suite": true,
    "setup": true,
    "document": true
  }
}
