body {
    background: #333;
    padding: 40px 20px;
    font-family: sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
}
button {
    width: 30px;
    height: 30px;
    border: 2px solid #A3A3A3;
    color: transparent;
    background: #A3A3A3;
    font-size: 1em;
    font-weight: 900;
    margin: 1px;
}
button:hover,
button:focus {
    outline: none;
    border-color: #F0F1F0;
    cursor: pointer;
}
.app {
    display: inline-block;
}
.score {
    text-align: left;
    color: #F0F1F0;
    font-size: 1em;
    margin-bottom: 10px;
}
.score:before {
    display: inline-block;
    content: 'Marked:';
    margin-right: 5px;
}
.cell-marked {
    background: #333;
    color: #333;
    border: 2px solid #F0F1F0;
    position: relative;
}
.cell-marked:before {
    content: '🚩';
    position: absolute;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.cell-mine,
.cell-mine:focus,
.cell-mine:hover {
    background: #333;
    color: #333;
    border: 2px solid red;
    position: relative;
}
.cell-mine:before {
    content: '💣';
    position: absolute;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.cell-0,
.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8 {
    background: #F0F1F0;
    border-color: #F0F1F0;
}
.cell-0 {
    color: transparent;
}
.cell-1 {
    color: blue;
}
.cell-2 {
    color: green;
}
.cell-3 {
    color: red;
}
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8 {
    color: red;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
